.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: transparent;
  }

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    padding-top: 100px;
    border: none;
}

.navbar-brand{
    padding-top: 0px;
}

.navbar .navbar-collapse {
    text-align: center;
}

.thumbnail,
.img-thumbnail {
  border: none
}

.navbar-custom {
    color: transparent;
    background-color: transparent;
}

#myCarousel {
  height: 300px;
}


.divider-row {
  height: 100px;
}

#landing-snippets {
  background-color: lightgrey;
  padding-left: 100px;
  padding-right: 100px;
}

.carousel-caption {
}